@import "base.styl"
@import "article.styl"

// Custom css

.site-heading
  visibility: hidden !important

.navbar-brand
  font-family: Lobster
  font-size: 35px !important
  color: #404040 !important

.post-heading
  color: #404040 !important
  padding: 75px 0 0 0 !important

.post-subheading
  font-weight: 300 !important

ul.nav.navbar-nav.navbar-right a
  color: #404040 !important
  
//