<body class="is-preload">
    <div id="wrapper" class="divided">
        <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
                <h1>Betty Chang</h1>
                <p class="major">Currently at UNICEF & Sidewalk Toronto dreaming up the future of health systems and
                    cities.</p>
                <p class="major">Graduate of McGill University.</p>
                <p class="major">Sometimes drawing and writing.</p>
                <ul class="actions stacked">
                    <li><a href="mailto:betty.chang@mail.mcgill.ca" class="button big wide smooth-scroll-middle">Say
                            Hello</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="/img/mainpage.png" alt="" />
            </div>
        </section>

        <section class="wrapper style1 align-left writing-section">
            <div class="inner">
                <h2>WRITING</h2>
                <p>Read a few of my musings.</p>
                <hr />
                <p><a>I should have been better prepared for college</a>, Globe and Mail, June 21, 2018</p>
                <p><a>Investment in artificial intelligence is essential for our future health</a>, The Independent,
                    April 29, 2018
                </p>
                <p><a>The “BIZ” Girls of Mozambique: Empowering girls through SMS</a>, UNICEF Stories of Innovation,
                    October 10, 2017
                </p>
                <p><a href="/blog">Link to my blog</a>, some other text</p>
            </div>
        </section>

        <section class="wrapper style1 align-center art-section">
            <div class="inner">
                <h2>ART</h2>
                <p>My father instilled in me a love for the classics. Two years of perusing Chelsea galleries has
                    provided my works with an identity crisis of modern proportions. I play with colour, space, mixed
                    mediums and mood swings.
                </p>
            </div>

            <!-- Gallery -->
            <div class="gallery style2 medium lightbox onscroll-fade-in">
                <article>
                    <a href="/img/colour-study-ii.png" class="image">
                        <img src="/img/colour-study-ii.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Ipsum Dolor</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/cranes-in-the-sky.png" class="image">
                        <img src="/img/cranes-in-the-sky.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Feugiat Lorem</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/my-401k.png" class="image">
                        <img src="/img/my-401k.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Magna Amet</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/nice.png" class="image">
                        <img src="/img/nice.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Sed Tempus</h3>
                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>