<body class="is-preload">
    <div id="wrapper" class="divided">
        <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
                <h1>BETTY CHANG</h1>
                <p class="major">Currently at UNICEF & Sidewalk Toronto dreaming up the future of health systems and
                    cities.</p>
                <p class="major">Graduate of McGill University.</p>
                <p class="major">Sometimes <a href="#writing">writing</a> and <a href="#art">drawing</a>.</p>
                <ul class="actions stacked">
                    <li><a href="mailto:betty.chang@mail.mcgill.ca" class="button big wide smooth-scroll-middle">Say
                            Hello</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="/img/mainpage.png" alt="" />
            </div>
        </section>

        <section id="writing" class="wrapper style1 align-left writing-section">
            <div class="inner">
                <h2>WRITING</h2>
                <p class="sub">Read a few of my musings below. For unfiltered (slightly edited) free-writing check out <a href="/blog">my blog</a>.</p>
                <p><a>I should have been better prepared for college</a>, Globe and Mail, June 21, 2018</p>
                <p><a>Investment in artificial intelligence is essential for our future health</a>, The Independent,
                    April 29, 2018
                </p>
                <p><a>The “BIZ” Girls of Mozambique: Empowering girls through SMS</a>, UNICEF Stories of Innovation,
                    October 10, 2017
                </p>
            </div>
        </section>

        <section id="art" class="wrapper style1 align-center art-section">
            <div class="inner">
                <h2>ART</h2>
                <p class="sub">I play with colours, lines, mixed
                    media and mood swings.
                </p>
            </div>

            <!-- Gallery -->
            <div class="gallery style1 medium lightbox onscroll-fade-in">
                <article>
                    <a href="/img/colour-study-ii.png" class="image">
                        <img src="/img/colour-study-ii.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Colour Study II</h3>
                        <br>2018
                        <br>Acrylic on canvas
                        <br>48 x 30 inches
                        <p></p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/colour-study-i.png" class="image">
                        <img src="/img/colour-study-i.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Colour Study I</h3>
                        <br>2018
                        <br>Acrylic on canvas
                        <br>30 x 48 inches
                        <p></p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/cranes-in-the-sky.png" class="image">
                        <img src="/img/cranes-in-the-sky.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Cranes in the Sky</h3>
                        <br>2017
                        <br>Mixed media on watercolour paper
                        <br>11 x 9 inches
                        <p></p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/my-401k.png" class="image">
                        <img src="/img/my-401k.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>My 401(k)</h3>
                        <br>2017
                        <br>Mixed media on watercolour paper
                        <br>9 x 14 inches
                        <p></p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <a href="/img/nice.png" class="image">
                        <img src="/img/nice.png" alt="" />
                    </a>
                    <div class="caption">
                        <h3>Nice</h3>
                        <br>2016
                        <br>Digital media
                        <br>9 x 9 inches
                        <p></p>
                        <ul class="actions fixed">
                            <li><span class="button small">Details</span></li>
                        </ul>
                    </div>
                </article>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>