<div class="bg-main">
    <div class="bg-text-name">
        Betty Chang
    </div>
    <div class="bg-text-intro">
        Current researcher at <a href="#" class="bold-link">UNICEF.</a>
        <br>
        Biochemistry graduate of <a href="#" class="bold-link">McGill University.</a>
        <br>
        Previously at <a href="#" class="bold-link">Toronto Public Health</a> & <a href="#" class="bold-link">Intel.</a>
    </div>
</div>
