<div class="bg-main">
    <div class="bg-text-name">
        Betty Chang
    </div>
    <div class="bg-text-intro">
        Currently at the <a href="#" class="bold-link">UN</a> & <a href="#" class="bold-link">Planned Parenthood.</a>
        <br>
        Graduate of <a href="#" class="bold-link">McGill University.</a>
        <br>
        Previously at <a href="#" class="bold-link">Intel</a> & <a href="#" class="bold-link">Toronto Public Health.</a>
    </div>
</div>
